@charset "UTF-8";

/* Estilo para TELAS */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgrey;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: grey;
}

menu li {
    background-color: rgb(52, 50, 50);
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}
